// Primary Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

// Neutral Colors
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Font Family
$ff-red-hat-display: "Red Hat Display", sans-serif;

// Font Weight
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;
